body{
    margin: 0;
  background: green;
}



.nav-container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 130px;
    height: 70px;
    position: relative;
    left: -10%;
    border: orangered;
    border-radius: 2px;
}

nav{
    float: center;
}

.Login{
    float: right;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a{
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000000
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444444;

    top: 0%;
    width: 0%;

    transition: all ease-in-out  250ms;
}

nav a:hover::before{
    width: 100%;

}


/*----------container--------------*/
.container{
    width: 80%;
    margin: 20px auto;

}

/*----------------Table----------*/
.table{
    position: relative;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  
}

#table-top{
  background:grey;
}

.table-mid{
  background-color: white;
}

#tablehunters{
    margin: 20px;
    position: relative;
    top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

table, th, td {
    border: 1px solid black !important;
    border-collapse: collapse !important;
}

#popislov{
    position: relative;
}

#hunterstable{
    position:relative;
    top: 20px;
    background-color:brown;
    color:white;
    margin-left: auto !important;
    margin-right: auto !important;
}

#hunterstable th{
    font-weight: bold;
    font-size:1.2rem;
    color: ivory;
}

#hunterstitle{
    position: absolute;
    text-align: top;
    top: 20px;
}
/*-------------------Login Form-------------*/
.modal-login {
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 30px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 1px; 
}

.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn {
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}

.log-in{
    float: right;
}

/*---------------galery-------------*/

/*-------------Scroller---------*/
.carousel{

    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #55d6aa;
    height: 3000px;
    
}

.pages{
    display: flex;
    width: 500%;
    margin: 10%;
    height: 100%;
}

.pages section{
    flex-basis: 90%;
    justify-content: center;
    display: flex;
}


/*---------Main--------*/

#maintitle{
    position: relative;
    height: 200px;
    text-align: center;
    left: 2rem;
    top: 5%;
}

#aboutparagraph1{
    position: relative;
    top: 10%;
    height: fit-content;
    width: fit-content;
    text-align: left;
    margin-left: none;
}

#aboutustitle{
    position: relative;
    top: 4%;
    left: 30%;
    font-size: 30px;
    height: fit-content;
}

.mainpic{
    position: relative;
    margin-left: -10%;
}

#glavnisvod{
    position: absolute;
    top: 15%;
}

.lokacija{
    position: relative;
    width: 400px;
    height: 300px;
}

/*Animals*/

#animales{
    margin: 20px;
    position: relative;
    top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#animaltitle{
    position: absolute;
    text-align: top;
    top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.table1{
    width: 100%;
    position: absolute;
    top: 200px;
    padding: 2rem;
    border-radius: 10px;
    background-color: brown;
    color:white;
    text-align: center;
    column-width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.table1, th{
    font-weight: bold;
    color: ivory;
}




 